# {{ ansible_managed }}
{% for item in hostvars -%}
{% if  hostvars[item].ansible_host is defined -%}
{{ hostvars[item].ansible_host }} {{ item }}.{{dns_domain}}
{% endif %}
{% endfor %}
{% for item in extra_hosts -%}
{{ item.ip }} {{ item.hostname }}.{{ item.domain }}
{% endfor %}
