# {{ ansible_managed }}
WEBPASSWORD={{ web_password }}
configDirectory={{ fspath_pihole_config }}
installDirectory={{ fspath_pihole }}
PIHOLE_INTERFACE={{ network_interface }}
IPV4_ADDRESS={{ ipv4_address }}/24
PIHOLE_DNS_1={{ dns_servers[0] }}
PIHOLE_DNS_2={{ dns_servers[1] }}
QUERY_LOGGING=true
INSTALL_WEB=true
DHCP_ACTIVE={{ dhcp_activ }}
DHCP_START={{dhcp_start}}
DHCP_END={{dhcp_end}}
DHCP_ROUTER={{dhcp_router}}
DHCP_LEASETIME={{dhcp_leasetime}}
PIHOLE_DOMAIN={{dns_domain}}
DHCP_IPv6={{dhcp_ipv6}}
DHCP_rapid_commit={{dhcp_rapid}}
